* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vh;
}

.start {
    width: 550px;
    height: 550px;
    border-radius: 5px;
    background-color: blue;
    padding-top:25px;
    padding-left:65px;
}

#label {
    font-size: 50px;
    color: white;
}

.label {
    color: white;
    font-size: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: white;
    border: 2px solid white;
    background-color: blue;
    width: 450px;
    height: 40px;
    align-items: center;
    border-radius: 15px;
}

.text {
    border: 1px solid red;
    width: 20px;
    height: 20px;
}

.others {
    border: 1px solid red;
    width: 20px;
    height: 20px;
}

#password {
    width: 450px;
    height: 75px;
    padding: 20px;
    background-color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    border: 5px solid blue;
    justify-content: center
}